version: '3.8'

services:
  interview-agent:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: interview-agent
    env_file: ./.env
    stdin_open: true
    tty: true  
    volumes:
      - ./logs:/app/logs

